# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
.env

# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
package-lock.json
yarn.lock

# IDE
.vscode/
.idea/
*.swp

# Logs
*.log
logs/

# Build
dist/
build/

# Local env
frontend/.env
frontend/.env.local
backend/.env
backend/.env.local
